logs
*.min.js
*.css
*.css.map
.DS_Store?
*.old
*.old/*
*.new
*.new/*
old
old/*
*.1
*.1/*
sess_*
*.cache
*.swp
*.swo
site/config-dev.php
site/assets/logs
site/assets/files
site/assets/sessions
site/assets/cache
site/assets/installed.php
wire
.htaccess
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
bower_components