
/*
app.less -> app.css

*/

@import "reset.less"; 
@import "bootstrap/bootstrap.min.less"; 
@import "bootstrap/variables.less"; 
@import "bootstrap/mixins.less"; 
@import "bootstrap/glyphicons.less"; 
@import "font-awesome.less"; 
@import "jq-ui.less"; 
@import "color.less";

@import url(http://fonts.googleapis.com/css?family=Oswald);

.rotate(@deg) {
	transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
}

/**
 * ProcesssWire.com site template stylesheet. Prepared for use in the basic site profile. 
 *
 * Please feel free to use and/or modify under the same license as ProcessWire.
 *
 * Copyright 2010 by Ryan Cramer Design, LLC
 *
 */

html {
	background-color: #fff;
}

body {
	background: inherit;
	background-size: 100%;
	background-attachment: fixed;
}

body, input, textarea, table {
	font-family: @font-family-sans-serif; 
	font-size: 14px;
	color: @gray-dark; 
}
h1, h2, h3, h4,
.nav a,
.nav .inert,
.btn-search,
.full-carousel .carousel-caption {
	font-family: 'oswald', @font-family-sans-serif;
	text-transform: uppercase;
}
.container {
	position: relative;
/* 	max-width: 940px; */
}

#content > .row {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: @link-color;
	text-decoration: @link-decoration;
	font-style: @link-font-style;
	font-weight: @link-font-weight;
}
a:hover {
	color: @link-hover-color;
	text-decoration: @link-hover-decoration;
	font-style: @link-hover-font-style;
	font-weight: @link-hover-font-weight;
}

.page-header {
	padding-bottom: 0;
	margin: 5px 0;
	border-bottom: 0;
}

.page-header h1 {
	font-weight: bold;
}

/* === affix stuff === */

/* don't play by default */
.affixed {
	position: static;
	z-index: 101;	/* do this for all here, even if it's not congruent w/ "static" */
}
/* only play when it's wide enough */
@media (min-width: @screen-md-min) {
	.affixed {
		position: fixed;
	}
	/* this is a tweak because the lhs goes affix(ed) and the rhs has to stay right */
	.city .col-md-8.results {
		float: right;
	}
}
#topnav.affixed {
	position: fixed;	/* always for the menu */
	width: 100%;
}
.space_view #content .affixed h4:first-child {
	margin-top: 0;
}
@media (min-width: @screen-md-min) {
	.search-container.affixed {	width: 313px; }
	#space-detail.affixed {		width: 440px; }
}
@media (min-width: @screen-lg-min) {
	.search-container.affixed { width: 380px; }
	#space-detail.affixed {		width: 540px; }
}

.btn-back-to-search {
	display: none;
	color: @gray-light;
	text-transform: none;
	font-size: 0.8em;
	line-height: 0;
	vertical-align: bottom;
}
#space-detail .btn-back-to-search {
	margin-left: 24px;
}

#topnav a,
#topnav .inert {
	margin-right: 10px;
}

h1,h3 {
	letter-spacing: 0.5px;
}

#langs {
	float: right;
}
#langs > .btn {
	margin-left: 6px;
}

form .btn {
	margin-right: 6px;
}

.ajax-editing .btn.ajax-view,
.btn.ajax-edit {
	display: none;
}
.ajax-editing .btn.ajax-edit {
	display: inline;
}

.banner {
	position: relative;
	margin-bottom: 15px;
}

.banner a {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: 0;
	margin-bottom: 0;
}
.banner a {
	color: @btn-color;
}
.banner a>h2 {
	margin: 0;
}
.banner .img {
	height: 150px;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
} 
.banner .img img {
	min-width: 100%;
	min-height: 100%;
}

/*
nav bar overrides
*/

.nav>li.inert>span {
	/* emulate "a" nav elements */
	position: relative;
	display: block;
	padding: 10px 15px;
	color: @tsw-green-light;
	font-weight: bold;
}

/* for very small screens */
.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
}

/*use an ID to trump bootstrap .navbar*/
@media (min-width: @screen-sm-min) {
	#topnav.navbar {
		min-height: 0 ;
		border-radius: 0;
		margin-bottom: 10px;
	}
	.navbar, 
	.navbar>.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-collapse {
		padding-left: 5px;
		padding-right: 5px;
	}

	.nav>li>a,
	.nav>li.inert>span {
		padding-top: 5px;
		padding-bottom: 5px;
		display: inline-block;
	}
	#botnav {
		margin-top: -10px;
	}
	#botnav li>a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-inverse .navbar-nav>li>a,
	.navbar-inverse .navbar-nav>li.inert>span {
		padding-left: 5px;
		padding-right: 5px;
		color: #fff;
	}

	.navbar-inverse .navbar-nav>li.inert>span {
		color: @tsw-green-light;
	}

	.navbar-nav>li.active>a {
		padding: 10px 5px 10px 5px;
		margin-top: -5px;
		margin-bottom: -10px;
		background-color: #666;
		color: #fff;
		cursor: default;
	}

	.navbar-inverse .navbar-nav>li.active>a {
		padding: 10px 5px 10px 5px;
		margin-top: -5px;
		margin-bottom: -10px;
		background-color: #666;
		cursor: default;
	}
}

.navbar-collapse {
	max-height: none;
}

#topnav .nav-booking>a,
.book-btn,
.btn-search {
	z-index: 10;
	background-color: @tsw-green-light;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius:0;
}
#topnav .nav-booking.active>a {
	background-color: #666;
	cursor: default;
}
/* for very small screens... */
.book-btn { 
	float: left;
	margin: 0 6px 0 0;
}
@media (min-width: @screen-xs-min) {
	.book-btn { 
		float: none; 
	}
	.book-btn,
	#topnav .nav-booking>a {
		margin: -10px 6px;
	}
}

.book-btn {
	color: #fff;
	padding-left: 12px;
	padding-right: 12px;
	white-space: pre;
	display: inline-block;
}
.btn-search:hover,
.book-btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: @tsw-green-dark;
}
#space-detail a {
	margin-top: 12px;
	margin-left: 0;
}


@media (min-width: @screen-sm-min) {
	#topnav .nav-resources>a {
		.rotate(-20deg);
		margin-left: 10px;
		margin-right: 10px;
	}
}
body.home .resources .search {
	margin-top: 30px;
	text-align: center;
}
form .btn-search {
	color: #fff;
	font-size: 1.2em;
	padding: 10px;
	font-weight: bold;
	margin-top: 10px;
	border-radius: 0;
}

body.home h3 {
	padding-top: 15px ;
	padding-bottom: 15px ;
	text-align: center;
	font-weight: bold;
}

#footer {
	margin-top: 30px;

	.logos>h1:first-child {
		margin-top:0;
	}
	.logos>h1 {
		font-size: 1.7em;
	}
	.logos img {
		min-height: 50px;
		max-height: 75px;
		min-width: 	50px;
		max-width:  200px;
		margin: 8px;
	}

	.logos p {
		margin-left: -8px;
	}

}



/* search form */

.chosen-container {
	color: #000;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.chosen-container-multi .chosen-choices {
	cursor: pointer;
}

.chosen-container .chosen-container-multi .chosen-disabled .chosen-choices {
	cursor: not-allowed;
}

.form-group .chosen-container-multi .chosen-choices li.search-field {
	margin-top: 5px;
}

#search_form {
	margin-top: 20px;
}

#search-keywords {
	width: 95%;
}

#search-submit {
	width: 95%;
	display: block;

	span.pull-right {
		font-size: 1.6em;
	}
}

/* 
@listing-border-right-width: 1px;
 */
.listing_cur(@color) {
	/* border-right: @listing-border-right-width solid @color; */
	background-color: @color;
}

#cards {
	clear: both;	/* somehow needed to ensure proper calc for offset().top */
	margin-right: -6px;		/* so 3 cards can always fit */
}
.tsw-card.col-md-4 {
	width: 32%;
	float: none;
	display: inline-block;
	vertical-align: top;
}

.map-note .tsw-card.col-md-4 {
	width: 7em;
	/* accomodate the shadow in the gmap infowindow */
	margin: 0 4px 4px 0;
}
@media (min-width: @screen-sm-min) {
	.map-note .tsw-card.col-md-4 {
		width: 12em;
	}
}
.tsw-card {
	border: @gray-light 1px solid;
	box-shadow: 3px 3px 3px 0 @gray-light;
	margin: 12px 8px 0 0;
	padding: 8px;
	background-color: #fff;
} 
.tsw-card > a {
	display: block;
	color: @gray-light;
}

.tsw-card > a:hover {
	/* border: @gray-dark 1px solid; */
	/* text-shadow: 1px 1px limegreen; */
	color: #000;
}

.tsw-card > a > img {
	width: 100%;
}

.tsw-card > a > h4 {
	font-size: 1em;
	text-transform: none;
}
.tsw-card > a > h4 > .t1,
.tsw-card > a > h4 > .t2,
.tsw-card > a > h4 > .t3,
.tsw-card > a > h4 > .t4 {
	display: block;
}

.tsw-card > a .cap {
	display: block;
	margin-top: 4px;
	font-size: 80%;
}

#content .video {
	margin: 10px 0;
}

.body-copy {
	margin-top: 15px;
	margin-bottom: 15px;
}
.body-copy a {
	.text-primary();
}

/**
 * The edit link that appears when you are logged in.
 * It is recommended that you implement an edit button 
 * in your templates to make it easy to switch to and
 * from the admin control panel when editing pages. 
 *
 */
#editpage {
	position: absolute;
	top: 0;
	left: 0; 
	padding: 5px 6px; 
	background: #db1174; 
	color: #fff; 
	display: block;
	font-weight: bold; 
}
	#editpage:hover {
		background: #ffffcc;
		color: #000; 
	}

/**
 * utilities
 *
 */
.ctrl-height {
	overflow: hidden;
}
body.home .box > .ctrl-height > h2:first-child {
	margin-top: 0;
}


/**
 * Alignment styles that are used by the InputfieldTinyMCE for 
 * positioning images in bodycopy. If you are using this field type, 
 * you may want to include these or similar styles in your site.
 *
 */
.align_left {
        float: left;
        margin: 0 1em 0.25em 0;
}

.align_right {
        float: right;
        margin: 0 0 0.25em 1em;
}

.align_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
}


/**
 * WireFatalError is a class that ProcessWire will use to output
 * fatal errors in the design, but only if debug mode is on, or if
 * you are logged in as a superuser. 
 *
 */
.WireFatalError {
	background: #a30000; 
	color: #fff; 
	padding: 1em; 
	position: relative;
	z-index: 9999;
}

.banner.ui-resizable {
	height: 200px;
	width: 100% !important;
}
#map {
	height: 100%;
}

@media (min-width: @screen-sm-min) {
	height: 300px;
}

/* sticky behaviour */
.is_stuck {
	z-index: 100;
}
#topnav.is_stuck {
	z-index: 101;
}

.btn-toolbar {		/* tweak bootstrap */
	margin-bottom: 6px;		
}


/* form stuff */
.rep_ed th {
	font-weight: bold;
	padding: 6px 12px 6px 0;
}

td > .form-group {
	margin-bottom: 3px;
}

.errors {
	.bg-danger();
	.text-danger();
	font-weight: bold;
	padding: 12px 6px;
}

/* 
calendar stuff at large

*/

/* control heights using PX because fonts change across containers */

#cal-header table {
	width: 270px;
	border-bottom: 1px @gray-light solid;
}
#cal-header td {
	width: 10%;
	text-align: right;
	padding: 2px;
	color: @gray-light;
}
#cal-header td.extra {
	width: 30%;
}

#cal-container {
	width: 293px;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}

#space-form .btn-toolbar {
	height: 40px;
	margin-bottom: 0;
}
.btn-toolbar .help-block {
	float: right;
	margin-bottom: 0;
}
#tsw-ed {
	height: 360px;
}
#tsw-ed .day-name {
	height: 30px;
	padding: 0;
	margin: 0;
}


/* vvvv JRJR Don't know how much of this is redundant... */

/* the scrolling container for # day-ed-map */
#tsw-ed .day-map {
	height: 330px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 0;
}

/* ^^^^ JRJR Don't know how much of this is redundant... */

@H30: 15px;		/* match the value in space_edit.js */

#day-map {
	position: relative;
	height: 390px;
	width: 180px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#day-map table {
	width: 100%;
}
#day-map tr {
	vertical-align: top;
}
#day-map th {
	color: @gray-dark;
	text-align: right;
	padding: 0 4px;
}

#day-map td {
	width: 110px;
	height: @H30;
	line-height: 0;
	cursor: pointer;
}
#day-map {
	td, th {
		border: solid @gray-light 1px;
		margin: 0;
	}
	td.h0 { border-bottom-style: dotted;}
	td.h1 { border-top-style: dotted;}
}

#day-map .slot {
	width: 101px;
	height: @H30 * 2;	/* twice the height of a td */
	right: 5px;
	position: absolute;
	background-color: @brand-slot-bg;
	cursor: pointer;
}

#day-ed-editor .s-sum {
	margin-top: 4px;
	border: @brand-slot-bg solid 1px;
	padding: 6px 12px;		/* double hor pad to align w/ bookings */
	table {
		width: 100%;
	}
	th, td {
		padding: 2px 6px;
	}
	th {
		color: @gray-light;
	}
	.extra {
		text-align: right;
	}
	.s0, .s1, .b0, .b1 {
		width: 5em;
	}
}	 

#day-map .slot .ui-resizable-s {
	background-color:  darken( @brand-slot-bg, 20%);
}

#day-map .booking {
	position: absolute;
	height: @H30;
	right: 5px;
	width: 91px;
	background-color: @brand-booking-bg;
}

#day-map .booking .ui-resizable-s {
	background-color: darken( @brand-booking-bg, 20%);
}

#day-ed-editor .bookings {
	margin: 6px -6px 0;
}
#day-ed-editor .b-sum {
	margin-top: 4px;
	border: @brand-booking-bg solid 1px;
	padding: 6px;
	table {
		width: 100%;
	}
	td {
		padding: 2px 6px;
	}
	.extra {
		text-align: right;
	}
	input {
		width: 100%;
	}
	i {
		text-align: right;
		display: block;
		font-size: 80%;
		margin-right: 5px;		
	}
}	 




/* the height of a half-hour (hence the h30). It's a coincidence that a nice number for this is 30px  */
/*

@H30: 20px;

#day-ed-map {
	height: (@H30 * 48);
	width: 100%;	
	position: relative;
}

#day-ed-map,
#day-ed-map > .s {
	cursor: pointer;
}

#day-ed-map {
	.generate-day-map(49);
}

.generate-day-map(@n, @i: 0) when (@i =< @n) {
	hr.h-@{i} { top: (@H30 * @i); }
	span.h-@{i} { top: (@H30 * @i + 1); }
	.generate-day-map(@n, (@i + 1));
}

#day-ed-map > span,
#day-ed-map > hr {
	position: absolute;
	left: 0px;
	background-color: #fff;
}
#day-ed-map > span {
	padding: 0 3px;
	color: @gray;
}

#day-ed-map > hr {
	display: block;
	width: 100%;
	margin: 0;
	border-color: @gray;
}

#day-ed-map > hr.hh {
	border-color: @gray-light;
}
#day-ed-map > .s {
	position: absolute;
	width: 100%;
	margin: 0;
	background-color: fade( @brand-slot-bg, 50%);
	border: 1px solid @brand-slot-border;
}

#day-ed-map > .s > .b {
	position: absolute;
	right: 0px;
	width: 50%;
	background-color: fade( @brand-booking-bg, 50%);
}

*/

/*  obso?
#btn-slot-new {
	float: right;
	margin-right: 0px;
	position: relative;
	top: -7px;
}
 */

#tsw-ed {
	position: relative;
}

/*date/time picker tweaks*/

.picker { 
	top: 0px;
	left: 0px;
}

.picker--time {
	width: auto;
	min-width: 0;
	max-width: none;
}

.picker__list {
	padding-bottom: .75em;
}

/*contradict bootstrap when pickadate is active*/
.picker__input.form-control[readonly] {
	cursor: pointer;
	background-color: inherit;
}

.picker__input.form-control[disabled] {
	cursor: not-allowed;
	background-color: inherit;
}

#tsw-ed .slider {
	height: 18ex;
}


/* === space page stuff === */

.space #content .gallery img {
	margin: 6px 0;
	width: (450px*0.75);
	height: (300px*0.75);
}

@media (min-width: @screen-sm-min) {
	.space #content .gallery img {
		width: auto;
		height: auto;
	}
	
}

.att {
	margin-right: 10px;

	.glyphicon,
	.fa {
		font-size: 40%;
		vertical-align: middle;
		margin-bottom: 3px;
		background-color: transparent /* @gray-dark fade( @tsw-green-light, 80%) */ ;
		color: #000;
		display: inline-block;
		padding: 2px 2px;
	}
}

.space_view #content h4 {
	margin-top: 24px;
}
h4.with-btn {
	line-height: 3;
}
.space #content .rates th {
	padding: 6px 10px;
	font-weight: bold;
}
.space #content .rates td {
	padding: 3px 10px;
}
.space #content .rates .min {
	padding-left: 0;
}

/* === loading gif === */

.waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.waiting {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting {
    display: block;
}

#blog {
	max-width: @screen-xs-min + 30;
	.loading {
		display: none;
	}
	body.loading & .loading {
		display: block;
		margin-bottom: 60px;
	}
	.article .tags {
		margin: 12px 0;
	
		a {
			margin: 0 12px 0 0;
			display: inline-block;
			white-space: nowrap;
			opacity: 0.7;
		}
	}
	.article .date a {
		opacity: 0.7;
		font-size: 85%;
		text-transform: uppercase;
		line-height: 1;
	}


}

.section > div {
	background-size: cover;
	background-repeat: no-repeat;
} 
.section .text-box .caption {
	padding: 6px;
	display: inline-block;
}
.section .text-box h3,
.section .text-box h4 {
	text-align: left;
	margin: 0;
}
.section .text-centered {
	text-align: center;
}
.section .entry h3 {
	text-align: left;
}

/* if present, force it! */
.section .text-box img {
	margin-right: 10px;
}

.section .container {
	padding: 32px inherit;
}

.jit-video button {
	border: 1px solid;
	padding: 12px 24px;
	background-color: transparent;
}

.jit-video-container {
	display: none;
	margin-bottom: 40px;
}

.jit-video-container iframe {
	width: 200px;
	height: 113px;
}

@media (min-width: @screen-sm-min) {
	.jit-video-container iframe {
		width: 560px;
		height: 315px;
	}
}

.breadcrumb {
	font-variant: small-caps;
}

.breadcrumb .current {
	font-size: 140%;
	font-weight: bold;

}

#app-map-hint {
	position: absolute;
	display: none;
	width: auto;
}

.results .bottom {
	line-height: 2;
	margin-top: 12px;
}


/* 
booking form
 */


.booking .chosen-choices,
.booking .chosen-container-single  {
	min-height: 30px;
	width: 105%;
	border-radius: 0 4px 4px 0;	
}

.booking .chosen-container-single .chosen-single {
	border-radius: 0 4px 4px 0;	
	min-height: 29px;
}

#full-carousel .carousel-inner .item { height: 200px;}
@media (min-width: @screen-xs-min) {
	#full-carousel .carousel-inner .item { height: 500px;}
}

#full-carousel {
	width: 100%;
	
	.carousel-inner>.item>img {
		width: 100%;
	}
}

.full-carousel {

	#content {
		width: 100%;
		position: relative;
	}
	.centered-box,
	.carousel-caption {
		position: absolute;
		width: 100%;
		z-index: 100;
	}
	.centered-box { top: 50%; }

	.centered-box .container,
	.carousel-caption {
		text-align: center;
	}

	.centered-box .container > *,
	.carousel-caption {
		background-color: fade( #fff, 80%);
	}

	.centered-box .container > *,
	.carousel-caption {
		display: inline-block;
		padding: 6px 12px;
		color: @gray-dark;
		text-shadow: none;
	}
	.carousel-caption {
		width: auto;
	}
}

/* 
social buttons, emulating a WP plugin
*/

.social-net-actions {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;

	li {
		display: block;
		margin: 12px 0;
	}
}
		
#space-detail .social-net-actions li a {
	margin: 0;	/* override other stuff */
}


.social-net {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	
	li {
		display: inline-block;
		margin: 0 10px 10px 0;
		position: relative;
		height: 60px;
		width: 60px;
		background-repeat: no-repeat;
		transition: background-position 80ms ease, opacity 300ms ease;
		
		&:hover {
			background-position: 0 -60px;
		}
		
		a {
			display: inline-block;
			text-indent: -9999px;
			height: 60px;
			width: 60px;
		}
	}

}

.headroom {
	margin-top: 24px;
}

#footer #copyright {
	line-height: 1.3;
}

@media (min-width: @screen-md-min) {
	#footer #copyright {
		line-height: 7;
	}
}

.ui-resizable-helper { border: 2px dotted #00F; }
.ui-resizable { padding: 0.5em; }
.ui-icon, .ui-widget-content .ui-icon {
	background-image: url(images/resize-handles.png);
}
